* {
  font-family: "Overpass", sans-serif;
  transition: all 200ms ease-in-out;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
.body {
  background-color: #141518;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card {
  background-color: #222832;
  width: 415px;
  min-height: 415px;
  max-width: 415px;
  padding: 37px;
  border-radius: 30px;
}

@media screen and (max-width: 415px) {
  .card {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.icon__container {
  background-color: #272e38;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__title {
  font-size: 1.8em;
  margin-top: 1em;
  margin-bottom: 0;
  color: hsl(0, 0%, 100%);
  font-weight: 400;
}

.card__text {
  color: #828b96;
  font-size: 15px;
  line-height: 1.5;
}

.numbers__container {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5em;
  width: 100%;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272e38;
  color: hsl(217, 12%, 63%);
  border-radius: 100%;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.number:hover {
  color: #fff;
  background-color: hsl(217, 12%, 63%);
}

.card__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  background-color: hsl(25, 97%, 53%);
  color: #fff;
  width: 100%;
  height: 45px;
  border-radius: 25px;
  letter-spacing: 3px;
  font-weight: 700;
}
.card__btn:hover {
  color: hsl(25, 97%, 53%);
  background-color: #fff;
  cursor: pointer;
}

/* thanks state */

.card--thks {
  display: none;
}
.thks__img {
  display: block;
  text-align: center;
  margin: 1em auto;
}

.thks__fb {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #272e38;
  color: hsl(25, 97%, 53%);
  height: 30px;
  width: fit-content;
  margin: 2em auto;
  padding: 5px 2em;
  border-radius: 20px;
}
.card__title--thks {
  text-align: center;
}

.card__text--thks {
  text-align: center;
}

.disabled {
  background-color: #828b96;
  color: #222832;
}
.disabled:hover {
  background-color: #828b96;
  color: #222832;
  cursor: initial;
}
